log/*.log
tmp/*
.DS_Store
# Ignore other unneeded files.
doc/
*.swp
*~
.project
.DS_Store
script/*
.shell_history
/.bundle
#more secure without this in repo
config/database.yml 
config/secrets.yml 
.secret
