- content_for :body_id do
  |  index
= provide(:title, 'Irradiance' )
h1
  | Irradiance
p#notice
  = notice
table.table
  caption
  colgroup
    col#column1
    col#column2
  tbody
    tr
      td
        | Direct
      td
        = @irradiance.direct
    tr
      td
        | Diffuse
      td
        = @irradiance.diffuse
    tr
      td
        | Postcode
      td
        = @irradiance.postcode.pcode
    tr
      td
        | Postcode_id
      td
        = @irradiance.postcode.id
= link_to 'Edit', edit_irradiance_path(@irradiance)
