/*Base styling for forms, used with Bootstrap*/
$narrow: 7em;
$narrower: 6em;
fieldset{
}
.date_select{
  width: $narrow;
}
.narrow-input{
  width: $narrow;
}
textarea{
  width: 25em;
  height: 3em;
  margin-top: 2em;
}
label{
  margin-top: .6em;
}
.btn{
  margin-top: .5em;
}
input[type="radio"]{ /*show label next to radio button. Label must wrap button*/
  display: inline;
}
.btn-primary{
  margin-left: 2em;
  font-size: 1.2em;
}
