<%% content_for :body_id do %>
index<%% end %>

<%%= provide(:title, 'Edit <%= singular_table_name.capitalize %>' ) %>
<h1>Edit <%= singular_table_name.capitalize %></h1>
<%%= render 'form' %>
<%%= link_to 'Show', @<%= singular_table_name %> %> 
