// Place all the styles related to the PvQueries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$compass_points: #c8002F;
.icon{
  float: right;
  margin-top: -20px;
  margin-right: 100px;
  height: 300px;
  width: 300px;
  -webkit-transform-style: preserve-3d; 
  -moz-transform-style: preserve-3d; 
  -o-transform-style: preserve-3d; 
  transform-style: preserve-3d;
  transform:  rotateX(70deg)
              rotateZ(45deg);
  -webkit-transform:  rotateX(60deg)
                      rotateZ(30deg);
  -moz-transform: rotateX(70deg)
                  rotateZ(45deg);
  -o-transform: rotateX(60deg)
                rotateZ(30deg);
}
.north{
  font-size: 1.9em;
  text-align: center;
}
.south{
  font-size: 1.8em;
  text-align: center;
  margin-top: 40px;
}
.east{
  font-size: 1.8em;
  margin-top: 115px;
  float: right;
}
.west{
  font-size: 1.8em;
  margin-top: 115px;
  float: left;
}
.compass_points{
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  height: 175px;
  width: 175px;
  background-color: $compass_points;
  transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg); 
  -o-transform: rotateZ(45deg);
  -webkit-transform-style: preserve-3d; 
  -moz-transform-style: preserve-3d; 
  -o-transform-style: preserve-3d; 
  transform-style: preserve-3d;
}
$centres-compass: -23px;
.compass{
  height: 194px;
  width: 194px;
  background-color: #FFF;
  box-shadow: 2px 2px 0px 2px #CCC;
  border: 14px double #510013;
  border-radius: 106px;
  -moz-border-radius: 106px; 
  -webkit-border-radius: 106px;
  /*centre compass with compass points*/
  /*compensate for 45deg transform of compass points*/
  transform:  translateX($centres-compass)
              translateY($centres-compass)
              rotateZ(-45deg);
  -webkit-transform-style: preserve-3d; 
  -moz-transform-style: preserve-3d; 
  -o-transform-style: preserve-3d; 
  transform-style: preserve-3d;
}
.panels{
  height: 148px;
  width: 150px;
  margin: 26px auto;
  box-shadow: 2px 2px 0px 2px #ccc;
  /*create pointer for panel*/
  position: relative;
    &:before { 
      content:"";
      position: absolute;
      bottom: 100%;
      left: 60px;
      width: 0;
      height: 0;
      border-right: 15px solid transparent;
      border-bottom: 15px solid $compass_points;
      border-left: 15px solid transparent; 
    } 
}
.panel{
  float: left;
  height: 46px;
  width: 46px;
  background-color: #0C0864;
  border: 2px solid #bbb;
}
