fieldset.row.nested_fields
  .col-xs-7.col-sm-6.col-md-4

  legend
    | Panel
  .form-group
    = f.label :bearing, 'Bearing', class: 'control-label'
    = f.number_field :bearing, step: 'any', min: '0', max: '360', class: 'bearing_input form-control', autocomplete: 'off'
    sup
      | °
    span.glyphicon.glyphicon-question-sign[rel="tooltip" data-toggle="tooltip" title="Use true north (from a map) not magnetic north"]
  .form-group
    = f.label :tilt, 'Tilt', class: 'control-label'
    = f.number_field :tilt, step: 'any', min: '0', max: '180', class: 'tilt_input form-control', autocomplete: 'off'
    sup
      | °
    span.glyphicon.glyphicon-question-sign[rel="tooltip" data-toggle="tooltip" title="Enter the angle measured from the horizontal"]
  .form-group
    = f.label :panel_size, raw('Area'), class: 'control-label'
    = f.number_field :panel_size, step: 'any', min: '0', class: 'area_input form-control'
    |  m
    sup
      | 2
  .col-xs-5.col-sm-1.col-md-4
    .icon
      p.north
        | N
      p.east
        | E
      p.west
        | W
      .compass_points
        .compass
          .solar-panels
            .solar-panel
            .solar-panel
            .solar-panel
            .solar-panel
            .solar-panel
            .solar-panel
            .solar-panel
            .solar-panel
            .solar-panel
      p.south
        | S
