<% content_for :body_id do %>
index<% end %>

<%= provide(:title, 'Results' ) %>
<h2>Average annual panel output</h2>
<p>Drag to rotate graph, scroll to zoom.</p>
<%= content_tag :div, id: "output_pa", data: {datapoints: @output_pa} do %>
  <p class="alert alert-warning">Oops. There should be a pretty graph here.</p>
<% end %>
<button id="reload_page" type="button" class="btn btn-primary" autofocus="true">Try again</button>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
