<% content_for :body_id do %>
index<% end %>

<%= provide(:title, 'Pv_query' ) %>
<h1>Add Pv_query</h1>
<p id="enable_js" class="error">Please enable Javascript in your browser and reload the page for best results.</p> <!-- $('#enable_js').hide(); -->
<%= render 'form' %>
<%= link_to 'List of Pv_queries', pv_queries_path %>
