<% content_for :body_id do %>
index<% end %>

<%= provide(:title, 'Find your solar output' ) %>
<h1>Find your solar output</h1>
<p id="enable_js" class="error">Please enable Javascript in your browser and reload the page for best results.</p> <!-- $('#enable_js').hide(); -->
<%= render 'form' %>
