<% content_for :body_id do %>
index<% end %>

<%= provide(:title, 'Find your solar output' ) %>
<h1>Find your solar output</h1>
<p id="enable_js" class="error">This site works best with Javascript!</p>
<%= render 'form' %>
