<% content_for :body_id do %>
index<% end %>

<%= provide(:title, 'postcodes' ) %>
<h1>Add Postcode</h1>
<p id="enable_js" class="error">Please enable Javascript in your browser and reload the page for best results.</p> <!-- $('#enable_js').hide(); -->
<%= render 'form' %>
<%= link_to 'List of Postcodes', postcodes_path %>
